h1{
  text-align: center;

}
h3{
  text-align: left;
  line-height: normal;
}
body{
  text-align: center;
  border-style: solid;
  border-radius:
}
a{
  font-weight: bold;
}

img{
  height: 250px;
  width: 20%;
}
